APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

LOG_CHANNEL=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=
CACHE_DRIVER=
FILESYSTEM_DISK=
QUEUE_CONNECTION=
SESSION_DRIVER=
SESSION_LIFETIME=

ELASTICSEARCH_INDEX=
ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_SSL_VERIFY=

VITE_APP_NAME="${APP_NAME}"
